.toast {
    background-position: 1.5rem center!important;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15)!important;
    border-radius: .475rem!important;
    border: 0!important;
    background-color: #f5f8fa;
    color: #5e6278;
    padding: 1.25rem 1.25rem 1.25rem 4.5rem!important;
}
.toast .toast-close-button {
    outline: 0!important;
    font-size: 0;
    width: .85rem;
    height: .85rem;
}
.toast .toast-title {
    font-size: 1.15rem;
    font-weight: 500;
}
.toast .toast-title+.toast-message {
    margin-top: .25rem;
}
.toast .toast-message {
    font-size: 1rem;
    font-weight: 400;
}
.toast.toast-success {
    background-color: #50cd89;
    color: #fff;
}
.toast.toast-success .toast-close-button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}
.toast.toast-info {
    background-color: #7239ea;
    color: #fff;
}
.toast.toast-info .toast-close-button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}
.toast.toast-warning {
    background-color: #ffc700;
    color: #fff;
}
.toast.toast-warning .toast-close-button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}
.toast.toast-error {
    background-color: #f1416c;
    color: #fff;
}
.toast.toast-error .toast-close-button {
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
}
.toast-top-center {
    top: 12px;
}
.toast-bottom-center {
    bottom: 12px;
}