@charset "UTF-8";
/*
Author: Rents 
Author URI: https://rents.com.bd/
Description: Houzez is a premium WordPress theme for real estate agents where modern aesthetics are combined with tasteful 
*/
.property-by-id-module .grid-view .item-listing-wrap{margin-bottom:0}.testimonial-item-v2 .testimonial-thumb{max-width:75px}.property-carousel-module .grid-view{margin-right:0;margin-left:0}.houzez-all-slider-wrap{opacity:0;visibility:hidden;transition:opacity 1s ease;-webkit-transition:opacity 1s ease}.houzez-all-slider-wrap.slick-initialized{visibility:visible;opacity:1}.item-wrap-v6 .area_postfix{display:none}.elementor-field-group .captcha_wrapper{margin-bottom:0!important}.gdpr-text{font-weight:300}.login-required-block{margin-top:30px;margin-bottom:200px}.h-properties-map-for-elementor{width:100%}.grecaptcha-badge{z-index:9999}.houzez-dashboard .grecaptcha-badge,body.houzez-halfmap-page .grecaptcha-badge{display:none!important}@media (max-width:992px){.grecaptcha-badge{display:none!important}}.search-hidden,.sticky-nav-area,.sticky-search-area{position:relative;width:100%;z-index:1000;top:0;opacity:0;visibility:hidden;transform:translate(0,-200px)}.houzez-in-view{opacity:1;position:fixed!important;visibility:visible;transition:all .4s ease;transform:translate(0,0) scale(1);animation:fadein .4s}.houzez-field-textual{line-height:1.4;font-size:15px;min-height:40px;-webkit-border-radius:3px;border-radius:3px}.houzez-field-textual.elementor-size-xs,.houzez-field-textual.elementor-size-xs button:not(.actions-btn){font-size:13px;min-height:33px;-webkit-border-radius:2px;border-radius:2px}.houzez-field-textual.elementor-size-md,.houzez-field-textual.elementor-size-md button:not(.actions-btn){font-size:16px;min-height:47px;-webkit-border-radius:4px;border-radius:4px}.houzez-field-textual.elementor-size-lg,.houzez-field-textual.elementor-size-lg button:not(.actions-btn){font-size:18px;min-height:59px;-webkit-border-radius:5px;border-radius:5px}.houzez-field-textual.elementor-size-xl,.houzez-field-textual.elementor-size-xl button:not(.actions-btn){font-size:20px;min-height:72px;-webkit-border-radius:6px;border-radius:6px}.location-trigger.elementor-size-xs{height:42px;line-height:42px}.location-trigger.elementor-size-md{height:47px;line-height:47px}.location-trigger.elementor-size-lg{height:59px;line-height:59px}.location-trigger.elementor-size-xl{height:72px;line-height:72px}.houzez-field-textual.elementor-size-lg button:not(.actions-btn){padding:7px 20px}.houzez-field-textual.elementor-size-xl button:not(.actions-btn){padding:8px 24px}.houzez-search-button.elementor-size-xs{padding:13px 20px!important}.advanced-search-widget .features-list-wrap .btn-features-list,.advanced-search-widget .features-list-wrap .control--checkbox,.advanced-search-widget .range-text{color:#222!important}.location-trigger.with-labels{top:auto;bottom:0;right:5px}.houzez-ele-price-slider{display:block!important}.houzez-ele-price-slider .price-range-wrap{padding-bottom:0}.houzez-lazy-bg.houzez-lazyload{background-image:none!important}.houzez-lazyload{border:0!important;opacity:1;background:rgba(255,255,255,0) url(img/lazyloader-1.gif) no-repeat center!important;background-size:16px auto!important}.single-property .listing-tabs .nav-tabs .nav-link{min-width:100px}.single-property .vertical-listing-tabs.listing-tabs .nav-tabs .nav-link{min-width:50px}.property-detail-v3 ul.lSPager.lSGallery li{max-height:70px}.property-detail-v4 ul.lSPager.lSGallery li{max-height:105px}.houzez-custom-field .control{font-size:14px;font-weight:400}form.update-frontend-property .houzez-custom-field .control{width:48%;float:left;margin-right:5px}form.update-frontend-property .houzez-custom-field .control:nth-child(2n+1){clear:left}form.add-frontend-property .houzez-custom-field .control{width:32%;float:left;margin-right:5px}form.add-frontend-property .houzez-custom-field .control:nth-child(3n+1){clear:left}.login-form-page-wrap{max-width:480px}.login-form-page-text,.login-form-page-wrap{margin:40px auto 60px;min-height:450px}.hz-terms-of-use{padding-bottom:0}.btn-loader:after{border:2px solid #333;border-color:#333 transparent #333 transparent}.property-disclaimer{color:#555;padding:20px 0 40px 0;text-align:center;font-size:13px;line-height:21px}span.agent-phone a{color:#222}a.btn-whatsapp{color:#25d366}.error-container .error{display:block;line-height:1.5;padding:0 0 5px 0;color:#ea3d3d;font-size:14px;font-weight:400;transition:.2s all linear}.blog-post-item-v2 .blog-post-content-wrap.with-no-author{bottom:0;padding-bottom:10px}@media (max-width:767.98px){.property-detail-v6 .property-banner{padding-bottom:0}}


/* rents-custom */
.sticky-nav-area li a {
	color: #111;
}

.hover-effect:before,
.hover-effect-flat:before {
  display:none !important;
}
.page-id-79 .sticky-nav-area {
    background: #fff!important;
    color: #111;
    box-shadow: 0px 0px 1px 0px #43c9be;
}
.sticky-nav-area ul li a {
    color: #111;
}
a.btn.btn-secondary.btn-sm:hover {
    background-color: #fff !important;
}
.sticky-nav-area {
background: #fff !important; 
    color: #fff;
    box-shadow: 0px 0px 1px 0px #43c9be;
}
.header-mobile {
    background-color: #fff !important;
    box-shadow: 0px 0px 1px 0px #43c9be;
}
.htmega-team-style-7 {
	box-shadow:none !important ;
	overflow: hidden;
}
.htmega-team-style-7:hover .htmega-thumb img {
    transform: none !important;
}

.rents-social {
    display: inline-flex !important;
}
.rents-social a {
    padding: 10px !important;
    width: 40px;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
}

.rents-social a:hover {
    opacity: 0.7;
	color:#fff !important;
}

.rents-social a.fa-facebook {
  background: #3B5998;
  color: white;
}
.rents-social a.fa-instagram{
  background: #E4405F;
  color: white;
}
.rents-social a.fa-linkedin {
  background: #007bb5;
  color: white;
}

.rents-social a.fa-youtube {
  background: #bb0000;
  color: white;
}
span.hide-on-click {
    color: #000 !important;
}

a.btn.btn-primary.btn-slim:hover {
    background-color: #fff !important;
}
a.btn.btn-primary.btn-sm:hover {
    background-color: #fff !important;
}
ul.list-3-cols.list-unstyled a {
    color: #111;
}

ul.list-3-cols.list-unstyled i {
    color: #00948b;
    font-size: 15px;
    font-weight: 600;
}
.block-title-wrap h2 {
    font-size: 20px;
    color: #00948b;
}
.property-overview-wrap ul li {
    color: #111;
    white-space: inherit !important;
}
.similar-property-wrap {
    padding: 5px !important;
}
.item-wrap-v5 .item-body {
    padding: 15px !important;
}
.agent-phone.agent-phone-hidden, .grid-view .item-footer .item-author, .item-title {
    white-space: inherit !important;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.item-wrap-v5 .item-title {
    font-size: 18px !important;
    line-height: 24px !important;
    text-align: left;
}
.item-wrap-v5 .item-v5-price {
    font-size: 18px;
    margin-bottom: 5px;
    color: #00948b !important;
}

.detail-state {
  display: none !important;
}
.block-wrap {
    padding: 20px !important;
    margin-top: 15px !important;
}
.sidebar-wrap .property-form-wrap {
    padding: 15px !important;
}
.block-title-wrap {
    border-bottom: 1px solid #dce0e0;
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
}
.list-view .item-listing-wrap {
    margin-bottom: 15px !important;
}
ul.item-tools li {
    padding: 0px 5px !important;
}
.page-title-wrap .item-tool span:hover {
    background-color: #00948b;
}
.blog-post-link {
    text-align: center !important;;
}

.blog-post-link a {
    color: #00948b !important;
    padding: 5px 10px !important;
    border: 1px solid #00948b !important;
    margin-top: 10px !important;
}
.logo.logo-mobile img {
    width: 50% !important;
}